$primary: #0f78ff;
$secondary: #ffffff;
$third: #191953;
$fourth: #bebfc3;
$fifth: #333333;
$sixth: #eac889;
$seventh: #000000;
$eighth: #274fa0;

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .head {
    max-width: 1250px;
    width: 100%;
    background-color: $third;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid rgba($color: $fourth, $alpha: 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .headMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      position: relative;
      .liveTable {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        h4 {
          color: $fourth;
        }
        .liveCircle {
          width: 20px;
          height: 20px;
          background-color: rgba($color: #df5f5f, $alpha: 0.5);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          .circle {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #ff3c3c;
            animation: pulse 1s infinite ease-in-out;
          }
        }
      }
      h3 {
        color: $secondary;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        i {
          transition: 0.3s ease;
          font-size: 14px;
        }
        &.active {
          i {
            transform: rotateX(180deg);
          }
        }
      }
      .dropMenu {
        width: 180px;
        height: 96px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: -50%;
        bottom: -110px;
        background-color: #474775;
        border-radius: 10px;
        span {
          color: $secondary;
          transition: 0.3s ease;
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 10px;
          &:hover {
            background-color: rgba($color: $secondary, $alpha: 0.2);
            border-radius: 10px;
          }
          &.active {
            background-color: rgba($color: $secondary, $alpha: 0.2);
            border-radius: 10px;
          }
        }
      }
    }
    .lastUpdated {
      span {
        color: $fourth;
        font-size: 14px;
      }
    }
    .tableSwitcher {
      display: flex;
      align-items: center;
      border: 1px solid rgba($color: $secondary, $alpha: 0.2);
      border-radius: 10px;
      height: 40px;
      position: relative;
      width: 160px;
      span {
        color: $secondary;
        cursor: pointer;
        font-size: 14px;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: color 0.3s ease;
        &.active {
          background-color: rgba($color: $secondary, $alpha: 0.2);
          border-radius: 10px;
        }
      }
    }
  }
  .table-wrapper {
    max-width: 1250px;
    width: 100%;
    overflow-x: auto;
    table {
      width: 100%;
      background-color: $third;
      border-collapse: collapse;
      display: block;
      max-height: 650px;
      overflow-y: auto;
      thead {
        display: table-header-group;
        tr {
          th {
            color: $sixth;
            font-weight: bold;
            padding: 30px 10px;
            text-align: center;
          }
        }
      }
      tbody {
        display: block;
        width: 100%;
      }
      ::-webkit-scrollbar-thumb {
        background: $fourth;
      }
      tr {
        display: table;
        table-layout: fixed;
        width: 100%;
        td,
        th {
          width: 100px;
          padding: 20px 10px;
          text-align: center;
          color: $secondary;
          font-size: 15px;
        }
      }
      tbody tr:hover {
        background-color: rgba($color: $secondary, $alpha: 0.2);
      }
    }
  }
  .mobileLastUpdate {
    display: none;
    max-width: 1250px;
    width: 100%;
    background-color: $third;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    padding: 15px 0;
    span {
      color: $fourth;
      font-size: 14px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1024px) {
  section {
    .lastUpdated {
      display: none;
    }
    .mobileLastUpdate {
      display: flex;
    }
  }
}

@media screen and (max-width: 430px) {
  section {
    .head {
      .headMenu {
        gap: 10px;
        h3 {
          font-size: 16px;
          gap: 5px;
        }
        .liveTable {
          h4 {
            display: none;
          }
        }
        .dropMenu {
          width: 150px;
        }
      }
      .tableSwitcher {
        width: 145px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}
